* {
  padding: 0;
  margin: 0;
}

nav {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  height: 80px;
}

.btnNav {
  color: rgb(255, 255, 255);
  overflow: hidden;
  text-decoration: none;
  padding: 10px;
  margin-right: 50px;
}

.btnNav:hover {
  color: #1c9eb2;
}

.welcome {
  padding-top: 10px;
  color: rgb(163, 163, 163);
  margin-left: 150px;
}
.nav-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 2px solid #1c9eb2;
  margin-left: 100px;
}
