* {
  padding: 0;
  margin: 0;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;
}

/* .Main {
  display: flex;
  align-items: center;
  height: fit-content;
  background-color: rgb(0, 0, 0);
} */

/* .myVideo {
  position: fixed;
  width: 100vw;
  bottom: 0;
  opacity: 30%;
} */

.Name h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
